<div class="m-5">
  <h2>Menu</h2>
  <span>Selecione a opção desejada nos cards abaixo:</span>

  <div class="card flex justify-content-center gap-8 mt-8">
    <p-card routerLink="/produtos" class="w-1 cursor-pointer">
      <div class="card mb-0">
        <div class="flex justify-content-center">
          <div>
            <h3>Produtos</h3>
          </div>
        </div>
      </div>
    </p-card>
    <p-card routerLink="/departamentos" class="w-1 cursor-pointer">
      <div class="card mb-0">
        <div class="flex justify-content-center">
          <div>
            <h3>Departamentos</h3>
          </div>
        </div>
      </div>
    </p-card>
  </div>
</div>
